In [ ]:
# Working with dataframes

In [1]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv("Datatest.csv")

In [6]:
df

,Policy,Expiry,Location,State,Region,InsuredValue,Construction,BusinessType,Earthquake,Flood
0,100242,2-Jan-21,Urban,NY,East,NaN,Frame,Retail,N,N
1,100314,2-Jan-21,Urban,NY,East,"8,678,500",Fire Resist,Apartment,Y,Y
2,100359,2-Jan-21,Rural,WI,Midwest,"2,052,660",Frame,Farming,N,N
3,100315,3-Jan-21,Urban,NY,East,"17,580,000",Frame,Apartment,Y,Y
4,100385,3-Jan-21,Urban,NY,East,"1,925,000",Masonry,Hospitality,N,N
5,100388,4-Jan-21,Urban,IL,Midwest,"12,934,500",Frame,Apartment,Y,Y
6,100358,5-Jan-21,Urban,WI,Midwest,"928,300",Masonry,Office Bldg,N,N
7,100264,7-Jan-21,Rural,NY,East,"2,219,900",Frame,Farming,N,N
8,100265,7-Jan-21,Urban,NY,East,"14,100,000",Frame,Apartment,Y,Y
9,100357,8-Jan-21,Urban,NY,East,"4,762,808",Masonry,Other,Y,Y
10,100399,8-Jan-21,Urban,NY,East,"13,925,190",Frame,Apartment,Y,Y
11,100329,9-Jan-21,Urban,NY,East,NaN,Frame,Apartment,Y,Y
12,100429,9-Jan-21,Urban,WI,Midwest,"4,036,000",Masonry,Medical,Y,Y
13,100441,10-Jan-21,Urban,NJ,East,"472,800",Masonry,Retail,Y,Y

In [7]:
df.dropna()

,Policy,Expiry,Location,State,Region,InsuredValue,Construction,BusinessType,Earthquake,Flood
1,100314,2-Jan-21,Urban,NY,East,"8,678,500",Fire Resist,Apartment,Y,Y
2,100359,2-Jan-21,Rural,WI,Midwest,"2,052,660",Frame,Farming,N,N
3,100315,3-Jan-21,Urban,NY,East,"17,580,000",Frame,Apartment,Y,Y
4,100385,3-Jan-21,Urban,NY,East,"1,925,000",Masonry,Hospitality,N,N
5,100388,4-Jan-21,Urban,IL,Midwest,"12,934,500",Frame,Apartment,Y,Y
6,100358,5-Jan-21,Urban,WI,Midwest,"928,300",Masonry,Office Bldg,N,N
7,100264,7-Jan-21,Rural,NY,East,"2,219,900",Frame,Farming,N,N
8,100265,7-Jan-21,Urban,NY,East,"14,100,000",Frame,Apartment,Y,Y
9,100357,8-Jan-21,Urban,NY,East,"4,762,808",Masonry,Other,Y,Y
10,100399,8-Jan-21,Urban,NY,East,"13,925,190",Frame,Apartment,Y,Y
12,100429,9-Jan-21,Urban,WI,Midwest,"4,036,000",Masonry,Medical,Y,Y
13,100441,10-Jan-21,Urban,NJ,East,"472,800",Masonry,Retail,Y,Y

In [11]:
df.fillna(0)

,Policy,Expiry,Location,State,Region,InsuredValue,Construction,BusinessType,Earthquake,Flood
0,100242,2-Jan-21,Urban,NY,East,0,Frame,Retail,N,N
1,100314,2-Jan-21,Urban,NY,East,"8,678,500",Fire Resist,Apartment,Y,Y
2,100359,2-Jan-21,Rural,WI,Midwest,"2,052,660",Frame,Farming,N,N
3,100315,3-Jan-21,Urban,NY,East,"17,580,000",Frame,Apartment,Y,Y
4,100385,3-Jan-21,Urban,NY,East,"1,925,000",Masonry,Hospitality,N,N
5,100388,4-Jan-21,Urban,IL,Midwest,"12,934,500",Frame,Apartment,Y,Y
6,100358,5-Jan-21,Urban,WI,Midwest,"928,300",Masonry,Office Bldg,N,N
7,100264,7-Jan-21,Rural,NY,East,"2,219,900",Frame,Farming,N,N
8,100265,7-Jan-21,Urban,NY,East,"14,100,000",Frame,Apartment,Y,Y
9,100357,8-Jan-21,Urban,NY,East,"4,762,808",Masonry,Other,Y,Y
10,100399,8-Jan-21,Urban,NY,East,"13,925,190",Frame,Apartment,Y,Y
11,100329,9-Jan-21,Urban,NY,East,0,Frame,Apartment,Y,Y
12,100429,9-Jan-21,Urban,WI,Midwest,"4,036,000",Masonry,Medical,Y,Y
13,100441,10-Jan-21,Urban,NJ,East,"472,800",Masonry,Retail,Y,Y

In [14]:
df.fillna(method ='ffill')

,Policy,Expiry,Location,State,Region,InsuredValue,Construction,BusinessType,Earthquake,Flood
0,100242,2-Jan-21,Urban,NY,East,NaN,Frame,Retail,N,N
1,100314,2-Jan-21,Urban,NY,East,"8,678,500",Fire Resist,Apartment,Y,Y
2,100359,2-Jan-21,Rural,WI,Midwest,"2,052,660",Frame,Farming,N,N
3,100315,3-Jan-21,Urban,NY,East,"17,580,000",Frame,Apartment,Y,Y
4,100385,3-Jan-21,Urban,NY,East,"1,925,000",Masonry,Hospitality,N,N
5,100388,4-Jan-21,Urban,IL,Midwest,"12,934,500",Frame,Apartment,Y,Y
6,100358,5-Jan-21,Urban,WI,Midwest,"928,300",Masonry,Office Bldg,N,N
7,100264,7-Jan-21,Rural,NY,East,"2,219,900",Frame,Farming,N,N
8,100265,7-Jan-21,Urban,NY,East,"14,100,000",Frame,Apartment,Y,Y
9,100357,8-Jan-21,Urban,NY,East,"4,762,808",Masonry,Other,Y,Y
10,100399,8-Jan-21,Urban,NY,East,"13,925,190",Frame,Apartment,Y,Y
11,100329,9-Jan-21,Urban,NY,East,"13,925,190",Frame,Apartment,Y,Y
12,100429,9-Jan-21,Urban,WI,Midwest,"4,036,000",Masonry,Medical,Y,Y
13,100441,10-Jan-21,Urban,NJ,East,"472,800",Masonry,Retail,Y,Y

In [15]:
df.fillna(method ='bfill')

,Policy,Expiry,Location,State,Region,InsuredValue,Construction,BusinessType,Earthquake,Flood
0,100242,2-Jan-21,Urban,NY,East,"8,678,500",Frame,Retail,N,N
1,100314,2-Jan-21,Urban,NY,East,"8,678,500",Fire Resist,Apartment,Y,Y
2,100359,2-Jan-21,Rural,WI,Midwest,"2,052,660",Frame,Farming,N,N
3,100315,3-Jan-21,Urban,NY,East,"17,580,000",Frame,Apartment,Y,Y
4,100385,3-Jan-21,Urban,NY,East,"1,925,000",Masonry,Hospitality,N,N
5,100388,4-Jan-21,Urban,IL,Midwest,"12,934,500",Frame,Apartment,Y,Y
6,100358,5-Jan-21,Urban,WI,Midwest,"928,300",Masonry,Office Bldg,N,N
7,100264,7-Jan-21,Rural,NY,East,"2,219,900",Frame,Farming,N,N
8,100265,7-Jan-21,Urban,NY,East,"14,100,000",Frame,Apartment,Y,Y
9,100357,8-Jan-21,Urban,NY,East,"4,762,808",Masonry,Other,Y,Y
10,100399,8-Jan-21,Urban,NY,East,"13,925,190",Frame,Apartment,Y,Y
11,100329,9-Jan-21,Urban,NY,East,"4,036,000",Frame,Apartment,Y,Y
12,100429,9-Jan-21,Urban,WI,Midwest,"4,036,000",Masonry,Medical,Y,Y
13,100441,10-Jan-21,Urban,NJ,East,"472,800",Masonry,Retail,Y,Y

In [17]:
df

,Policy,Expiry,Location,State,Region,InsuredValue,Construction,BusinessType,Earthquake,Flood
0,100242,2-Jan-21,Urban,NY,East,NaN,Frame,Retail,N,N
1,100314,2-Jan-21,Urban,NY,East,"8,678,500",Fire Resist,Apartment,Y,Y
2,100359,2-Jan-21,Rural,WI,Midwest,"2,052,660",Frame,Farming,N,N
3,100315,3-Jan-21,Urban,NY,East,"17,580,000",Frame,Apartment,Y,Y
4,100385,3-Jan-21,Urban,NY,East,"1,925,000",Masonry,Hospitality,N,N
5,100388,4-Jan-21,Urban,IL,Midwest,"12,934,500",Frame,Apartment,Y,Y
6,100358,5-Jan-21,Urban,WI,Midwest,"928,300",Masonry,Office Bldg,N,N
7,100264,7-Jan-21,Rural,NY,East,"2,219,900",Frame,Farming,N,N
8,100265,7-Jan-21,Urban,NY,East,"14,100,000",Frame,Apartment,Y,Y
9,100357,8-Jan-21,Urban,NY,East,"4,762,808",Masonry,Other,Y,Y
10,100399,8-Jan-21,Urban,NY,East,"13,925,190",Frame,Apartment,Y,Y
11,100329,9-Jan-21,Urban,NY,East,NaN,Frame,Apartment,Y,Y
12,100429,9-Jan-21,Urban,WI,Midwest,"4,036,000",Masonry,Medical,Y,Y
13,100441,10-Jan-21,Urban,NJ,East,"472,800",Masonry,Retail,Y,Y

In [18]:
df.fillna({
    'InsuredValue' : 555555
        
})

,Policy,Expiry,Location,State,Region,InsuredValue,Construction,BusinessType,Earthquake,Flood
0,100242,2-Jan-21,Urban,NY,East,555555,Frame,Retail,N,N
1,100314,2-Jan-21,Urban,NY,East,"8,678,500",Fire Resist,Apartment,Y,Y
2,100359,2-Jan-21,Rural,WI,Midwest,"2,052,660",Frame,Farming,N,N
3,100315,3-Jan-21,Urban,NY,East,"17,580,000",Frame,Apartment,Y,Y
4,100385,3-Jan-21,Urban,NY,East,"1,925,000",Masonry,Hospitality,N,N
5,100388,4-Jan-21,Urban,IL,Midwest,"12,934,500",Frame,Apartment,Y,Y
6,100358,5-Jan-21,Urban,WI,Midwest,"928,300",Masonry,Office Bldg,N,N
7,100264,7-Jan-21,Rural,NY,East,"2,219,900",Frame,Farming,N,N
8,100265,7-Jan-21,Urban,NY,East,"14,100,000",Frame,Apartment,Y,Y
9,100357,8-Jan-21,Urban,NY,East,"4,762,808",Masonry,Other,Y,Y
10,100399,8-Jan-21,Urban,NY,East,"13,925,190",Frame,Apartment,Y,Y
11,100329,9-Jan-21,Urban,NY,East,555555,Frame,Apartment,Y,Y
12,100429,9-Jan-21,Urban,WI,Midwest,"4,036,000",Masonry,Medical,Y,Y
13,100441,10-Jan-21,Urban,NJ,East,"472,800",Masonry,Retail,Y,Y